html {
	background-color: #F3D617;
	font-size: 35px;
	font-familly: 'fasthand', cursive; css
}
body {
	width: 650px;
	margin: 0 auto;
	background-color: #0103FA;
	padding: 4 15px 15px 15px;
	border: 15px darkgoldenrod;
}
p, li {
	color: darkgrey; 
	width: 500px;
	border: 5px mistyrose;
	font-size: 36px;
	line-height: 2;
	letter-spacing: 5px;
}
a {
	color: #FF7F50 ;
}
li {
	color: magenta;
}
h1 {
	margin: 0;
	padding: 30px;
	color: gold;
	text-shadow:5px 5px 3px green;
	font-size: 80px;
	text-align: center;
}
img {
	display: block;
	margin: 0 auto;
	padding: 1px;
	border: 1px;

}
